<h1>チャットサンプル</h1>
<% if user_signed_in? %>
  <h3><% @shop.name %>とのチャットルーム</h3>
  <div class="chat-field">
    <% @messages.each do |m| %>
      <% if m.is_user %>
        <div class="right-message">
          <%= m.content %>
          <%= @shop.name %>
        </div>
      <% else %>
        <div class="left-message">
          <%= m.content %>
        </div>
      <% end %>
    <% end %>
  </div>
<% elsif shop_signed_in?%>
  <h3><% @user.name %>とのチャットルーム</h3>
  <div class="chat-field">
    <% @messages.each do |m| %>
      <% if m.is_user %>
        <div class="left-message">
          <%= m.content %>
          <%= @user.name %>
        </div>
      <% else %>
        <div class="right-message">
          <%= m.content %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= form_for [@room, @message] do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "メッセージを送る"%>
<% end %>